@import "../../global.scss";

.topbar {
	width: 100%;
	height: 70px;
	background-color: $mainLightColor;
	color: $mainColor;
	position: fixed;
	top: 0;
	z-index: 3;
	transition: all 1s ease;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

	.wrapper {
		padding: 10px 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.left {
			display: flex;
			align-items: center;

			.logo {
				font-size: 40px;
				font-weight: 700;
				text-decoration: none;
				color: inherit;
				margin-right: 40px;
			}
			.linkedInHref {
				text-decoration: none;
				color: inherit;
				font-weight: 500;
			}
			.itemContainer {
				display: flex;
				align-items: center;
				margin-right: 30px;

				@include ipad {
					display: none;
				}

				@include mobile {
					display: none;
				}

				.icon {
					font-size: 18px;
					margin-right: 5px;
				}

				span {
					font-size: 15px;
					font-weight: 500;
				}
			}
		}

		.right {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 40px;

			.hamburger {
				display: none !important;
				width: 32px;
				height: 25px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				cursor: pointer;
				overflow: visible;

				@include ipad {
					display: flex !important;
				}

				span {
					width: 100%;
					height: 3px;
					background-color: $mainColor;
					transform-origin: left;
					transition: all 2s ease;
				}
			}
			.topBarHrefs {
				display: flex;
				flex-direction: row;
				justify-content: center;
				gap: 20px;
				align-items: center;

				@include ipad {
					display: none;
				}

				@include mobile {
					display: none;
				}

				li {
					font-size: 18px;
					font-weight: 600;

					&:hover {
						cursor: pointer;
						text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.82);
					}
					a {
						text-decoration: none;
						color: $mainColor;
					}
				}
			}
		}
	}

	&.active {
		background-color: $mainColor;
		color: white;

		.hamburger {
			span {
				&:first-child {
					background-color: white;
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					background-color: white;
					transform: rotate(-45deg);
				}
			}
		}
		.topBarHrefs {
			display: none;
		}
	}
}
