@import "../../global.scss";

.intro {
	background-color: $mainLightColor;
	display: flex;
	gap: 10px;

	@include mobile {
		flex-direction: column;
		align-items: center;
	}

	@include ipad {
		flex-direction: column;
		justify-content: baseline;
		align-items: center;
	}

	.left {
		// border: 1px solid red;
		flex: 0.5;
		overflow: hidden;
		display: flex;
		justify-content: center;

		align-items: center;

		@include mobile {
			margin-left: auto;
		}

		.imgContainer {
			width: fit-content;
			height: 500px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			float: center;

			@include ipad {
				align-items: center;
				justify-content: center;
				margin-bottom: 0;
			}

			@include mobile {
				align-items: center;
				justify-content: center;
				margin-bottom: 0;
			}

			img {
				max-width: 80%;
				height: auto;

				@include ipad {
					max-width: 50%;
					height: auto;
					justify-content: center;
				}
				@include mobile {
					max-width: 50%;
					height: auto;
				}
			}
		}
	}
	.right {
		// border: 1px solid green;

		flex: 0.5;
		position: relative;

		@include ipad {
			text-align: center;
			width: 60%;
		}

		.wrapper {
			width: 100%;
			height: 100%;
			padding-left: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			align-items: flex-start;

			@include ipad {
				height: max-content;
				align-items: center;
				padding-left: 0;
			}

			@include mobile {
				padding-left: 0;
				justify-content: flex-start;
				align-items: center;
			}

			h1 {
				font-size: 60px;
				margin: 10px 0;
				overflow: visible;
			}

			@include mobile {
				font-size: 30px;
			}

			h2 {
				font-size: 35px;
				overflow: visible;
			}
			h3 {
				font-size: 30px;
				overflow: visible;

				@include mobile {
					font-size: 20px;
				}

				span {
					font-size: inherit;
					color: rgb(255, 235, 59);
				}

				.ityped-cursor {
					animation: blink 1s infinite;
				}
				@keyframes blink {
					50% {
						opacity: 1;
					}
					100% {
						opacity: 0;
					}
				}
			}
		}
		a {
			position: absolute;
			bottom: 10px;
			left: 40%;

			@include mobile {
				position: absolute;
				left: 46%;
			}

			img {
				width: 30px;
				animation: arrowBlink 2s infinite;
			}
		}
	}
}
